In [ ]:
import pandas as pd
import MySQLdb

In [ ]:
conn = MySQLdb.connect('localhost', 'root', '1234')

In [ ]:
cursor = conn.cursor()

In [ ]:
sql = """show databases;"""
cursor.execute(sql)
cursor.fetchall()

(('information_schema',),
 ('bestseller',),
 ('budongsan',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('press',),
 ('sakila',),
 ('sales',),
 ('shopdb',),
 ('sqldb1',),
 ('sqldb2',),
 ('stock_db',),
 ('stockdb',),
 ('sys',),
 ('tabledb',),
 ('testdb',),
 ('world',))

In [ ]:
# 새로운 사용자 관리

In [ ]:
username = "test_user"
password = "1111"
cursor.execute(f"CREATE USER '{username}'@'localhost' IDENTIFIED BY '{password}';")

0

In [ ]:
# sqldb2에 모든 권한을 허용
cursor.execute(f"GRANT ALL PRIVILEGES ON sqldb2.* TO '{username}'@'localhost';")

0

In [ ]:
# test_user로 서버에 접근이 가능
conn = MySQLdb.connect('localhost', 'test_user', '1111')

In [ ]:
# sqldb2만 접근 가능 목록에 나타남..
pd.read_sql("show databases;", conn)

C:\Users\GJ\AppData\Local\Temp\ipykernel_17728\743573133.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("show databases;", conn)

             Database
0  information_schema
1              sqldb2

In [ ]:
# 사용자 제거
cursor.execute(f"drop user '{username}'@'localhost';")

0

In [ ]:
# 접근이 불가..
conn = MySQLdb.connect('localhost', 'test_user', '1111')

OperationalError: (1045, "Access denied for user 'test_user'@'localhost' (using password: YES)")

In [ ]:
# 데이터베이스 및 테이블 백업

In [ ]:
# C: -> D: => d:  - d drive 이동
# D: -> C: => c:  - c drive 이동

# dir : 파일, 폴더 목록 출력..
# cd 폴더명 : 하위 폴더로 이동
# cd .. : 상위 폴더로 이동

# 데이터베이스 백업
# mysqldump -u root -p sqldb > sqldb.sql
# mysqldump --max_allowed_packet=640M -u root -p sqldb > sqldb.sql  -- size로 error나는 경우..

# 데이터베이스 복원
# create database sqldb;
# mysql -u root -p sqldb < sqldb.sql

# 테이블 백업
# mysqldump --max_allowed_packet=640M -u root -p -B sqldb --tables usertbl> sqldb_usertbl.sql

# 테이블 복원
# mysql -u root -p sqldb < sqldb_usertbl.sql

In [ ]:
conn = MySQLdb.connect('localhost', 'root', '1234')

In [ ]:
# database 백업
# cmd : "mysqldump --max_allowed_packet=640M -u root -p sqldb > sqldb.sql"

In [ ]:
sql = "drop database if exists sqldb1;"
cursor.execute(sql)

2

In [ ]:
pd.read_sql('show databases;', conn)

C:\Users\GJ\AppData\Local\Temp\ipykernel_17728\2453121473.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('show databases;', conn)

              Database
0   information_schema
1           bestseller
2            budongsan
3            employees
4                mysql
5   performance_schema
6                press
7               sakila
8                sales
9               shopdb
10              sqldb2
11            stock_db
12             stockdb
13                 sys
14             tabledb
15              testdb
16               world

In [ ]:
# database 복원

In [ ]:
sql = "create database sqldb1;"  # 데이터 베이스 생성
cursor.execute(sql)

1

In [ ]:
# cmd : "mysql -u root -p sqldb < sqldb.sql"  # 데이터 베이습 복원

In [ ]:
pd.read_sql('show databases;', conn)  # 복원된 데이터 베이스 확인

C:\Users\GJ\AppData\Local\Temp\ipykernel_17728\2453121473.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('show databases;', conn)

              Database
0   information_schema
1           bestseller
2            budongsan
3            employees
4                mysql
5   performance_schema
6                press
7               sakila
8                sales
9               shopdb
10              sqldb1
11              sqldb2
12            stock_db
13             stockdb
14                 sys
15             tabledb
16              testdb
17               world

In [ ]:
cursor.execute('use sqldb1;')

0

In [ ]:
cursor.execute('show tables;')
cursor.fetchall()

(('buytbl',), ('usertbl',))

In [ ]:
# 테이블 백업

In [ ]:
cursor.execute('use sqldb2;')

0

In [ ]:
cursor.execute('show tables;')
cursor.fetchall()

(('buytbl',), ('usertbl',))

In [ ]:
# cmd : mysqldump --max_allowed_packet=640M -u root -p -B sqldb2 --tables usertbl> sqldb2_usertbl.sql

In [ ]:
# 테이블 복원

In [ ]:
cursor.execute('drop table usertbl;')

0

In [ ]:
cursor.execute('show tables;')
cursor.fetchall()

(('buytbl',),)

In [ ]:
# cmd : mysql -u root -p sqldb2 < sqldb2_usertbl.sql

In [ ]:
cursor.execute('use sqldb2;')

0

In [ ]:
cursor.execute('show tables;')
cursor.fetchall()

(('buytbl',), ('usertbl',))

In [ ]:
import subprocess

In [ ]:
command = f"mysqldump --max_allowed_packet=64M -u root -p1234 sqldb > sqldb.sql"

# 백업 명령 실행
result = subprocess.run(command, shell=True, text=True)

In [ ]:
command = f"mysql -u root -p sqldb < sqldb.sql"

# 백업 명령 실행
result = subprocess.run(command, shell=True, text=True)